/* ==========================================================================
Main page styles
========================================================================== */
@import '~@fortawesome/fontawesome-free/css/all.css';
.social-icons {
  text-align: center;
}
a {
  color: #999;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #91c3ee;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
p {
  color: white;
}
.footer {
  background-color: #304146;
}
