<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading">Create or edit a Employee</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_empName">Emp Name</label>
          <input type="text" class="form-control" name="empName" id="field_empName" data-cy="empName" formControlName="empName" />
          <div *ngIf="editForm.get('empName')!.invalid && (editForm.get('empName')!.dirty || editForm.get('empName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('empName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_empAge">Emp Age</label>
          <input type="number" class="form-control" name="empAge" id="field_empAge" data-cy="empAge" formControlName="empAge" />
          <div *ngIf="editForm.get('empAge')!.invalid && (editForm.get('empAge')!.dirty || editForm.get('empAge')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('empAge')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('empAge')?.errors?.min"> This field should be at least 20. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('empAge')?.errors?.max"> This field cannot be more than 45. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('empAge')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null"></option>
            <option *ngFor="let gender of genderValues" [value]="gender">gender</option>
          </select>
          <div *ngIf="editForm.get('gender')!.invalid && (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('gender')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_empJobTitle">Emp Job Title</label>
          <input
            type="text"
            class="form-control"
            name="empJobTitle"
            id="field_empJobTitle"
            data-cy="empJobTitle"
            formControlName="empJobTitle"
          />
          <div *ngIf="editForm.get('empJobTitle')!.invalid && (editForm.get('empJobTitle')!.dirty || editForm.get('empJobTitle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('empJobTitle')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_empPhone">Emp Phone</label>
          <input type="text" class="form-control" name="empPhone" id="field_empPhone" data-cy="empPhone" formControlName="empPhone" />
          <div *ngIf="editForm.get('empPhone')!.invalid && (editForm.get('empPhone')!.dirty || editForm.get('empPhone')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('empPhone')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_empEmail">Emp Email</label>
          <input type="text" class="form-control" name="empEmail" id="field_empEmail" data-cy="empEmail" formControlName="empEmail" />
          <div *ngIf="editForm.get('empEmail')!.invalid && (editForm.get('empEmail')!.dirty || editForm.get('empEmail')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('empEmail')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('empEmail')?.errors?.pattern">
              This field should follow pattern for Emp Email.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_engage">Engage</label>
          <select class="form-control" name="engage" formControlName="engage" id="field_engage" data-cy="engage">
            <option [ngValue]="null"></option>
            <option *ngFor="let socMed of socMedValues" [value]="socMed">socMed</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
