<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-6">
    <h1 class="display-4"><span>Welcome To</span> ILLUMINATE !!!</h1>

    <p class="lead">This is your Customer Relationship Management</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as "{{ account.login }}".</span>
      </div>
      <div class="blinking" *ngSwitchCase="true">
        <p class="desc">
          Customer relationship management (CRM) is the combination of practices, strategies and technologies that companies use to manage
          and analyze customer interactions and data throughout the customer lifecycle. The goal is to improve customer service
          relationships and assist in customer retention and drive sales growth. CRM systems compile customer data across different
          channels, or points of contact, between the customer and the company, which could include the company's website, telephone, live
          chat, direct mail, marketing materials and social networks. CRM systems can also give customer-facing staff members detailed
          information on customers' personal information, purchase history, buying preferences and concerns.
        </p>
      </div>

      <div class="button-container-div">
        <div class="alert alert-warning" *ngSwitchCase="false">
          <button (click)="login()">Sign In</button>
          <p class="or">OR</p>
          <button routerLink="account/register">Register</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <span class="hipster1 img-fluid rounded"></span>
  </div>
</div>
