<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="opportunity">
      <h2 data-cy="opportunityDetailsHeading"><span>Opportunity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ opportunity.id }}</span>
        </dd>
        <dt><span>Follow Up</span></dt>
        <dd>
          <span>{{ opportunity.followUp }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ opportunity.status }}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
          <div *ngIf="opportunity.customer">
            <a [routerLink]="['/customer', opportunity.customer.id, 'view']">{{ opportunity.customer.custName }}</a>
          </div>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
          <div *ngIf="opportunity.employee">
            <a [routerLink]="['/employee', opportunity.employee.id, 'view']">{{ opportunity.employee.empName }}</a>
          </div>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <div *ngIf="opportunity.product">
            <a [routerLink]="['/product', opportunity.product.id, 'view']">{{ opportunity.product.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/opportunity', opportunity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
