<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="company">
      <h2 data-cy="companyDetailsHeading"><span>Company</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ company.id }}</span>
        </dd>
        <dt><span>Industry</span></dt>
        <dd>
          <span>{{ company.industry }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <span>{{ company.location }}</span>
        </dd>
        <dt><span>Established</span></dt>
        <dd>
          <span>{{ company.established }}</span>
        </dd>
        <dt><span>Engage</span></dt>
        <dd>
          <span>{{ company.engage }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
